@page
@model Aplicacao.Pages.RelatorioModel
@{
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data da Solicitação</th>
            <th scope="col">Descrição do Relatório</th>
            <th scope="col">Data da Aplicacao</th>
            <th scope="col">Quantidade total de vacinados</th>
            <th scope="col">Solicitante</th>
            

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
      
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>Otto</td>
           
        </tr>
    </tbody>
</table>